@()()

  @main("Welcome to G-machine") {


  <div class="container" style="margin-top:30px">





  <h1>Добро пожаловать в симулятор G-машины</h1>
  <p>В качестве команд G-машины используется последовательность макросов, приведенная в таблице:</p>


    <table border="1">
      <caption>Таблица макросов для G-машины</caption>
      <tr bgcolor="#ffcc00">
        <th>№</th>
        <th>Макрос</th>
        <th>Параметр</th>
        <th>Значение</th>
      </tr>
      <tr ><td>1</td><td>PUSH</td><td>m число</td><td>Помещает на вершину стека новый элемент. Его значением является  содержимое элемента на m ниже УВС.</td></tr>
      <tr><td>2</td><td>PUSHINT</td><td>i указатель</td><td>Помещает указатель на вершину содержащую число.</td></tr>
      <tr><td>3</td><td>Slide</td><td>m число</td><td> Копирует  УВС в ячейку на m позиций ниже УВС.</td></tr>
      <tr><td>4</td><td>UPDATE</td><td>m число</td><td> Копирует содержимое УВС в ячейку на m позиций ниже УВС. УВС выталкивается из стека</td></tr>
      <tr><td>5</td><td>GET</td><td>-</td><td>Извлекает содержимое УВС  стека. Выталкивает УВС. Помещает извлеченное значение в дамп</td></tr>
      <tr><td>6</td><td>MKAP</td><td>-</td><td>Создает альфа вершину, для которой левым и правым указателями являются соответственно УВС и УВС-1. Дважды выталкивает содержимое стека. Вставляет в стек созданный указатель на альфа вершину</td></tr>
      <tr><td>7</td><td>MKINT</td><td>-</td><td>Создает константную вершину, значение которой взято с вершины дампа. Выталкивает содержимое вершины дампа. Вставляет ее в стек.</td></tr>
      <tr><td>8</td><td>ALLOC</td><td>m число</td><td>Создает m новых пустых вершин, вставляет их последовательно в стек. </td></tr>
    </table>
      <div class="row">
        <div class="col-sm-12 top-cover center-block">
      <a href="@routes.WidgetController.listWidgets" class="my" class="text-center" >Перейти к работе</a>
        </div>
      </div>

  <p></p>
  </div>
  }
