@(commandList : List[String],widget: Widget, grafList: List[String], stackList:List[List[String]],commandCount: Int, form: Form[WidgetForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader ,
        webJarsUtil: org.webjars.play.WebJarsUtil)


@main("G-machine") {



    <script src='@routes.Assets.versioned("javascripts/src/sigma.core.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/conrad.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/utils/sigma.utils.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/utils/sigma.polyfills.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/sigma.settings.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/classes/sigma.classes.dispatcher.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/classes/sigma.classes.configurable.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/classes/sigma.classes.graph.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/classes/sigma.classes.camera.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/classes/sigma.classes.quad.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/classes/sigma.classes.edgequad.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/captors/sigma.captors.mouse.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/captors/sigma.captors.touch.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/sigma.renderers.canvas.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/sigma.renderers.webgl.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/sigma.renderers.svg.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/sigma.renderers.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/webgl/sigma.webgl.nodes.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/webgl/sigma.webgl.nodes.fast.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/webgl/sigma.webgl.edges.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/webgl/sigma.webgl.edges.fast.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/webgl/sigma.webgl.edges.arrow.js")'></script>

    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.labels.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.hovers.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.nodes.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.edges.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.edges.curve.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.edges.arrow.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.edges.curvedArrow.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.edgehovers.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.edgehovers.curve.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.edgehovers.arrow.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/canvas/sigma.canvas.extremities.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/svg/sigma.svg.utils.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/svg/sigma.svg.nodes.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/svg/sigma.svg.edges.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/svg/sigma.svg.edges.curve.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/svg/sigma.svg.labels.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/renderers/svg/sigma.svg.hovers.def.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/middlewares/sigma.middlewares.rescale.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/middlewares/sigma.middlewares.copy.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/misc/sigma.misc.animation.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/misc/sigma.misc.bindEvents.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/misc/sigma.misc.bindDOMEvents.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//src/misc/sigma.misc.drawHovers.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//plugins/sigma.parsers.json/sigma.parsers.json.js")'></script>
    <script src='@routes.Assets.versioned("javascripts//plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js")'></script>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name, value) =>
      <div>@name: @value</div>
    }

    <table>
      <thead>
      </thead>
      <tbody>
        <tr><td>@widget.command</td></tr>
      </tbody>
    </table>

    <hr/>

  @* Global errors are not tied to any particular form field *@
  @if(form.hasGlobalErrors) {
    @form.globalErrors.map { error: FormError =>
      <div>
        @error.key: @error.message
      </div>
    }
  }



  @helper.form(postUrl) {

    @helper.CSRF.formField

    <div class="container"  padding: 30px;>

      <div class="container" style="margin-top:30px">
        <div class="row">
          <div class="col-sm-12">
            <form>
              <div class="form-group">
              @helper.textarea(
                form("command"),
                '_label -> "Команды:",
                'placeholder -> "Последовательность макросов и соответствующих цифр через пробел",
                'rows -> 2,
                'cols -> 130,
                'required -> true)
              </div>
            </form>
          </div>
        </div>
        <div class="row">


        @if(commandCount != 0) {
            <div class="col-sm-12">
                <table border="1">
                    <tr bgcolor="#ffcc00">
                        <th>Команда</th><th>Стек</th><th>Граф</th>
                    </tr>
                    @for(macros <- 0 until commandList.length) {
                        <tr>
                            <th style="text-align: center">

                            @commandList(macros)

                            </th>
                            <th style="text-align: center">
                                <table border="3" style="margin: auto" ; >

                                @for(listNum <- 0 until stackList(macros).length) {
                                    <tr>
                                    @if(listNum == 0) {
                                        <th bgcolor="#ffcc00" style="text-align: center">
                                        @stackList(macros)(listNum)
                                        </th>
                                    } else {
                                        <th style="text-align: center">
                                        @stackList(macros)(listNum)
                                        </th>
                                    }

                                    </tr>
                                }
                                </table>
                            </th>
                            <th>
                                <div class="container-fluid">
                                    <style type="text/css">
                          .sigma-container {
                              max-width: 1000px;
                              width: 800px;
                              height: 400px;
                              margin: auto;
                              background-color: #E1E1E1;
                          }
                  </style>
                                    <div id='sigma-container@macros' class = "sigma-container"></div>
                                    <script>
                          var s = new sigma(
                                  {
                                      renderer: {
                                          container: 'sigma-container@macros',
                                          type: 'canvas'
                                      },
                                      settings: {
                                          font: "calibri",
                                          labelSize: 'proportional',
                                          nodeLabelSize: 'proportional',
                                          defaultNodeColor: '#ec0300',
                                          labelThreshold: '0',
                                          labelSizeRatio: '3',
                                          enableEdgeHovering: true,
                                          edgeHoverHighlightNodes: 'circle',
                                          sideMargin: 1,
                                          labelAlignment: 'center'
                                      }
                                  }
                          );

                          // Create a graph object
                          var data = "@grafList(macros)";
                          var graphJ = data.replace(/&quot;/g, '\"');
                          graphJ = JSON.parse(graphJ);
                          // Load the graph in sigma
                          s.graph.read(graphJ);
                          // Ask sigma to draw it
                          s.refresh();
                  </script>
                                </div>
                            </th>
                        </tr>
                    }
                </table>
            </div>
        }
          </div>
          <div class="container" style="margin-top:30px">
              <p></p>
              <button class="btn btn-primary">Запустить вычисления</button>
              <p></p>
          </div>
        <p></p>
      </div>
    </div>









   }
}
